<section>
    <div class="container">
        <div class="row">
            <div class="col"><nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/about" class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/contact" class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/chart" class="nav-link" href="#">Chart</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/xyz" class="nav-link" href="#">XYZ</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/ViewNotice" class="nav-link" href="#">ViewNotice</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/material" class="nav-link" href="#">Material</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/newnotice" class="nav-link" href="#">Newnotice</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/newproduct" class="nav-link" href="#">NewProduct</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/singleproduct" class="nav-link" href="#">SingleProduct</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/addpublisher" class="nav-link" href="#">AddPublisher</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/addcategory" class="nav-link" href="#">Addcategory</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/addbooks" class="nav-link" href="#">Addbooks</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/publishers" class="nav-link" href="#">Publishers</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/categories" class="nav-link" href="#">Categories</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>
    </div>
</section>